*{
    margin-top: 30px;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
}

#right-wheel, 
#left-wheel {
    animation: wheel 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}
#woman {
    animation: bike 1s ease-in-out alternate;
    transform-origin: bottom;
}
#hut {
    animation: 1s ease-in-out infinite alternate;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes wheel {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
@keyframes woman {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(20deg);
    }
}
@keyframes hut {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(30%);
    }
}