* {
    box-sizing: border-box;
}
html, body {
  background: rgba(170,187,135,1);
  position: absolute;
  width: 1800px;
  height: 1024px;
  color: white;
}
body header {
  position: absolute;
  left: 50px;
  top: 30px;
  font-family: 'FreightBig Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  display: flex;
  align-items:flex-start;
  text-align: center;
}
body header a {
text-decoration: none;
color: white;
}
main header {
  position: absolute;
  width: 373px;
  height: 106px;
  left: 104px;
  top: 172px;
  font-family: 'Nagita';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}
.first, .third {
  position: absolute;
  width: 760px;
  height: 252px;
  left: 860px;
  top: 321px;
}
.third {
  top: 1306px;
}
.second {
  position: absolute;
  width: 760px;
  height: 252px;
  left: 104px;
  top: 814px;
}
p {
  font-family: 'Gopher';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: rgb(38, 34, 34);
}
h1 {
  font-family: 'FreightBig Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 50px;
  color: #FFFFFF;
}
footer {
  position: absolute;
  width: 140px;
  left: 776px;
  top: 1720px;
  font-family: 'Gopher';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 30px;
}
footer div a {
  text-decoration: none;
  color: #FFFFFF;
}
.pic1, .pic3 {
  position: absolute;
  display: flex;
  align-items: flex-end;
  right: 0px;
}
.pic1 {
  top: -800px;
}
.pic3{
  top: -800px;
}
.pic2 {
  position: absolute;
  display: flex;
  left: 100px;
  top: -700px;
}