body {
    margin: 4;
    background:rgb(226, 196, 165);
    text-align: center;
    
}
.arrows{
    width: 15%;
}
.dishes{
    width: 60%;
}
h1{
    font-family: felt-tip-woman, sans-serif;
    font-weight: 700;  
    font-style: normal;
    font-size: 40pt;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}